@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,700;1,800;1,900&display=swap');

*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body
{
	font-family: 'Poppins', sans-serif;
}

h1
{
	font-size: 2.5rem;
	font-weight: 700;
	color: rgb(35, 35, 85);
}

h2 span{
	color:red;
	font-size: 2rem;
}
.chat-sign-button {
	width: 50px;
	height: 50px;
	font-size: 24px;
}

#chat-widget-messages {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

#chat-widget-button {
    background-color: #1e73e9; /* Pink shade */
    color: #ffffff;
    border: none;
    border-radius: 50%;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    font-size: 30px;
    line-height: 60px;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

#chat-widget {
    border: none;
    border-radius: 10px;
    position: fixed;
    bottom: 100px;
    right: 20px;
    width: 555px;
	height: 395pt;
    background-color: #ffffff;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
    border-radius: 20px; /* Rounded corners for the chat widget */
    overflow: hidden;
}

.card-header {
    background-color: #9C27B0; /* Purple shade */
    color: #ffffff;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#chat-widget-close-button {
    background: none;
    border: none;
    color: #ffffff;
    font-size: 20px;
}

.card-body {
    height: 300px;
    overflow-y: auto;
    padding: 10px;
    background-color: #f9f9f9; /* Light grey background */
}

.card-footer {
    padding: 10px;
    background-color: #f9f9f9;
}

/* Input Style */
#chat-widget-input {
    width: 100%;
    border: none;
    padding: 10px 15px;
    margin: 10px 0;
    border-radius: 21px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

/* Placeholder color */
#chat-widget-input::placeholder {
    color: #999;
}

/* Chat messages styles */
.message {
    display: block;
    margin: 5px;
    padding: 10px;
    border-radius: 15px;
    margin-bottom: 2px;
    max-width: 80%;
    word-wrap: break-word;
    line-height: 1.4;
}

.bot-message {
	background-color: #007bff; /* Replace with the color of the bot messages in the image */
    align-self: flex-start; /* Aligns message to the left */
    margin-right: auto;
    border-bottom-left-radius: 0;
}

.user-message {
    background-color: rgb(206, 207, 206); /* Replace with the color of the user messages in the image */
    color: #333;
    align-self: flex-end; /* Aligns message to the right */
    margin-left: auto;
    border-bottom-right-radius: 0;
}


span
{
	font-size: .9rem;
}

h6
{
	font-size: 1.1rem;
	color: rgb(24, 24, 49);
}


/*------------- Navigation style start ------------*/
nav
{
	position: fixed;
	width: 100%;
	background-color: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
	z-index: 1;
	background-color: rgba(255, 255, 255, 0.068)
}

nav .logo
{
	width: 130px;
	height: 60px;
	cursor: pointer;
	margin-left: 20px;
}

nav .navigation
{
	display: flex;
}

#menu-btn
{
	width: 30px;
	height: 30px;
	display: none;
}

#menu-close
{
	display: none;
}

nav .navigation ul
{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin: 0;
}

nav .navigation ul li
{
	list-style: none;
	margin-left: 30px;
}

nav .navigation ul li a
{
	text-decoration: none;
	color: rgb(21, 21, 100);
	font-size: 16px;
	font-weight: 500;
	transition: 0.3s ease;
}
.material-symbols-outlined {
	font-variation-settings:
	'FILL' 0,
	'wght' 400,
	'GRAD' 0,
	'opsz' 24,;
	font-size: 36px;
  }

nav .navigation ul li a.active,
nav .navigation ul li a:hover
{
	color: #FDC93B;

}
/*------------- Navigation style end ------------*/



/*------------- Hero section styling start --------------*/
#home
{
	background-image: linear-gradient(rgba(9, 5, 54, 0.3), rgba(5,4,46,0.7)), url("https://iimscollege.edu.np/wp-content/uploads/2022/09/1708x960px-IIMS-Thrive-facebook-cover-2022-1.jpg");
	width: 100%;
	height: 100vh;
	background-size: cover;
	background-position: center center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding-top: 40px;
}

#home h2
{
	color: #fff;
	font-size: 2.2rem;
	letter-spacing: 1px;
}

#home p
{
	width: 50%;
	color: #fff;
	font-size: 0.9rem;
	line-height: 25px;
}

#home .btn
{
	margin-top: 30px;
}

#home a
{
	text-decoration: none;
	font-size: 0.9rem;
	padding: 13px 35px;
	background-color: #fff;
	font-weight: 600;
	border-radius: 5px;
}

#home a.blue
{
	color: #fff;
	background: rgb(21, 21, 100);
	transition: 0.3s ease;
}

#home a.blue:hover
{
	color: rgb(21, 21, 100);
	background: #fff;
}

#home a.yellow
{
	color: #fff;
	background: #fdc938;
	transition: 0.3s ease;
}

#home a.yellow:hover
{
	color: rgb(21, 21, 100);
	background: #fff;
}
/*------------- Hero section styling end --------------*/




/*------------- Footer section styling starts ------------*/
footer
{
	padding: 0px;
	background-color: #101c32;
	display: flex;
	
}

footer p
{
	color: #7b838a;
}

footer .copyright
{
	margin-top: 20px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	align-content: center;
	flex-wrap: wrap;
}


footer .copyright p, footer .copyright p > a
{
	color: #fff;
	text-decoration: none;
}




/*---------------------------------------------------------*/
/*-------------------- Ipad screen styling ----------------*/
/*---------------------------------------------------------*/
@media screen and (max-width: 789px)
{
	nav
	{
		padding: 15px 20px;
	}

	nav img
	{
		width: 130px;
	}

	#menu-btn
	{
		display: initial;
	}

	#menu-close
	{
		display: initial;
		font-size: 1.6rem;
		color: #fff;
		padding: 30px 0 20px 20px;
	}

	nav .navigation ul
	{
		position: absolute;
		top: 0;
		right: -220px;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		width: 220px;
		height: 100vh;
		background: rgba(17, 20, 104, 0.45);
		backdrop-filter: blur(4.5px);
		border: 1px solid rgba(255, 255, 255, 0.18);
		transition: 0.3s ease-in;
	}

	nav .navigation ul.active
	{
		right: 0;
	}

	nav .navigation ul li
	{
		padding: 20px 0 20px 40px;
		margin-left: 0;
	}

	nav .navigation ul li a
	{
		color: #fff;
	}

	#home
	{
		padding: 0px;
	}

	#home p
	{
		width: 90%;
	}

	#features
	{
		padding: 8vw 4vw 0 4vw;
	}

	#course
	{
		padding: 8vw 4vw 8vw 4vw;
	}

	#registration
	{
		padding: 6vw 4vw 6vw 4vw;
		gap: 2.2rem;
	}

	#registration .reminder .time
	{
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		margin-top: 40px;
	}

	#experts
	{
		padding: 8vw 4vw 6vw 4vw;
	}

	footer .copyright .pro-links
	{
		margin-top: 20px;
	}
}


@media screen and (max-width: 475px)
{
	#registration
	{
		flex-direction: column;
	}

	.reminder p, .reminder h1
	{
		text-align: center;
	}

	.reminder h1
	{
		font-size: 1.8rem;
	}

	#registration .reminder .time
	{
		justify-content: space-evenly;
		margin-top: 20px;
	}
}